# Java
/java/.gradle/
/java/build/
/java/.idea/
/java/*.iml

# C#
/csharp/.vs/
/csharp/Secasign.sln.DotSettings.user
/csharp/Secasign/obj/
/csharp/Secasign/bin/
/csharp/SecasignTest/obj/
/csharp/SecasignTest/bin/
/csharp/.idea/

# File configuration.properties, so no sensitive information are added
/configuration.properties
/configuration-*.properties

# Signed files
/data/Downloaded_*.pdf
/data/Signed_*.pdf
