# Build system
/.gradle/
/build/

# IDE from JetBrains
/.idea/
/*.iml

# Ignore the values so they don't get added
/src/test/java/com/secacon/secasignbox/sdk/Values*.java

# Signed files
/data/Signed_*.pdf
